.error{
    color:red;
    padding:3px;
}

li.paginate_button.page-item.previous a.page-link{
    width:auto!important;
    padding:10px;
}
li.paginate_button.page-item.next .page-link{
    width:auto!important;
    padding:10px;
}

.select2.select2-container.select2-container--default{
    max-width: 95%;
}